<div class="h-[100vh] w-[100%] bg-black bg-no-repeat bg-cover bg-center" style="background-image: url('img/img.webp');">
    <%- include('./navbar') %>

    <div class="w-[100%] flex justify-center items-center flex-col">
        <div class="w-[90%] lg:w-[100%] lg:max-w-[1224px] mt-[12rem]">
            <p class="font-bold text-[1.2rem] pb-[1rem] text-white">. . . . .</p>
            <p class="text-white italic font-poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus</p>
            <h1 class="max-w-[500px] text-white font-bold text-[50px]">Welcome to our fine restaurant!</h1>
           
        </div>
        <div class="w-[90%] lg:w-[100%] lg:max-w-[1224px] mt-[4rem]">
            <a href="/menu" class="text-white mt-40 p-[0.8rem] pr-[1rem] pl-[1rem] border-solid border-[#C09D61] border-r-[2px] border-[1px] bg-blur-orange hover:bg-white hover:text-black transition-all duration-300">Look at our menu!<span class="pl-[16px]">     →</span></a>
        </div>
    </div>
    <div class="absolute flex justify-center bottom-0 w-[100%] ">
        <div class="w-[90%] lg:w-[100%] lg:max-w-[1224px] justify-end flex mb-[2rem]">
            <a href="" class="relative hidden xl:block">
                <img src="/img/chevron-down.svg" alt="" class="w-[24px] text-white absolute bottom-[10px]">
                <img src="/img/chevron-down.svg" alt="" class="w-[24px] text-white">
            </a>
            
        </div>
    </div>
</div>